<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Skyresponse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BaseUrl" value="https://rc-stage.skygd.net" />
    <add key="TokenUrl" value="/api/token" />
    <add key="RegisterUrl" value="/api/me/register" />
    <add key="AlarmUrl" value="/api/alarms/" />
    <add key="WebSocketUrl" value="wss://rc-stage.skygd.net/api/wsPander?token=" />
    <add key="SoundPath" value="..\..\Media\Sounds\Level2.mp3" />
    <add key="SubKey" value="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Skyresponse.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Path" serializeAs="String">
        <value />
      </setting>
      <setting name="Device" serializeAs="String">
        <value />
      </setting>
    </Skyresponse.Properties.Settings>
  </userSettings>
</configuration>